* {
  padding:0;
  margin:0;
  box-sizing: border-box;
  
}

body {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #12bddb;
}


.column {
  float: left;
  width: 50%;
  padding:30px;
  position:relative;

}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.game-name {
  color: white;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  margin-left: 120px;
  margin-right: 120px;

}

.game {
  width: 500px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  


}

.card:active {
  transform: scale(1);
  transition: transform .2s;
}

.card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  position: absolute;
  width: 90%;
  height: 90%;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}


  
